body {
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgb(14, 14, 14);
    color: white;
    font-size: 16px;
  line-height: 1;
  font-weight: bold;
}

.jumbotron {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/ad/6d/60/ad6d60a8aa076753ed434214427e69a5.png");
  background-size: cover;
  background-position: center center;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-bottom: 90px;
  padding-top: 90px;
  margin-bottom: 25px;
  font-weight: bold;
}

#mainTitle {
    background-color: rgb(0, 132, 255);
    text-align: center;
    border: 1px solid rgb(0, 132, 255);
}

.mainContainer {
    margin-bottom: 20px;
    margin-right: 10px;
}

.dayCards {
    border: 1px solid rgb(176, 70, 97);
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 4px;
    /* color: rgb(9, 126, 97); */
}

.rightSide {
    /* background-color: rgb(222, 71, 114); */
    background-color: #1e0815;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px;
}

.leftSide {
    /* background-color: rgb(73, 208, 226); */
    background-color: #0b1e26;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    /* height: 530px; */
}

.leftSide h4 {
    margin-bottom: 22px;
    font-weight: bolder;
}

.leftSide form {
    background-color: black;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
}

.leftSide form label {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
}
.leftSide form input {
    max-width: 100%;
    font-weight: bold;
}

.leftSide form button {
    background-color: rgb(52, 0, 71);
    font-weight: bold;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
}

.upper {
    margin-bottom: 25px;
    margin-left: 8px;
}

#myCity {
    /* background-color: rgb(73, 208, 226); */
    /* border: black 1px solid; */
    border-radius: 7px;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.lower {
    margin-left: 8px;
}

.metric {
    background-color: white;
    /* color: rgb(222, 71, 114); */
    color: rgb(66, 0, 91);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-right: 5px;
}

hr {
    color: rgb(206, 203, 203);
}

.cityDate {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
    /* background-color: black;
    padding-top: 0.8em;
    padding-bottom: 0.8em; */
}

#uvIndex {
    padding: 5px;
    background-color: transparent;
}

#traverse {
    opacity: 0;
}

.daycardInfo {
    color: black;
    margin-top: 25px;
    font-size: 13.5px;
    font-weight: bold;
}

.resize {
    width: 75px;
    height: auto;
}

.searchHistoryButton {
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    margin: 5px;
    font-size: 19px;
    font-weight: bolder;
    color: #5e2444;
    background-color: white;
    border-radius: 6px;
    border: 1px solid white;
    width: 100%;
}

#clearSearch {
    padding-left: 4em;
    padding-right: 4em;
    font-size: 26px;
    font-weight: bold;
    background-color: rgb(37, 2, 50);
    color: white;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-bottom: 18px;
    border: solid 1px black;
}