body {
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgb(26, 25, 25);
    color: white;
    font-size: 16px;
  line-height: 1;
  font-weight: bold;
}

.jumbotron {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/ad/6d/60/ad6d60a8aa076753ed434214427e69a5.png");
  background-size: cover;
  background-position: center center;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-bottom: 90px;
  padding-top: 90px;
  margin-bottom: 25px;
  font-weight: bold;
}

#mainTitle {
    background-color: rgb(0, 132, 255);
    text-align: center;
    border: 1px solid rgb(0, 132, 255);
}

.mainContainer {
    margin-bottom: 20px;
    margin-right: 10px;
}

.dayCards {
    border: 1px solid rgb(176, 70, 97);
    padding: 10px;
    margin: 10px;
    background-color: rgb(73, 208, 226);
}

.rightSide {
    background-color: rgb(75, 74, 74);
    border: 1px solid rgb(75, 74, 74);
    border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
}

.leftSide {
    background-color: rgb(175, 175, 175);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    height: 530px;
}

.leftSide h4 {
    margin-bottom: 22px;
    font-weight: bolder;
}

.leftSide form {
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

.leftSide form label {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.leftSide form button {
    background-color: rgb(168, 89, 225);
    font-weight: bold;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
}

.upper {
    margin-bottom: 25px;
}